@import "vars"

@import 'font'
/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px)
  /**/
  #cheaper
    .bigtext
      font-size: 2.7rem
  #forms-colors
      .grid
        grid-template-areas: "one one one two" "one one one two" "three three three three" "four four four four"
        grid-template-rows: 1fr 1fr -1 1fr
      .four
        padding-top: 2rem
      .owl-carousel .owl-item .wrap img
          height: 70%
      .small-form
        width: 10%
        img
          width: 100%
      .wrap-over
        padding-top: .5rem
  .modal-dialog-ms
    a
      font-size: .8rem !important

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px)
  /**/
  #cheaper
    .bigtext
      font-size: 2.1rem
  #why
    ul
      margin-left: 2%
      li
        max-width: 56%
      //font-size: 1.2rem
  #sheff
    .price
      font-size: 1.2rem
    h2
      font-size: 1.2rem
  #best .list
    margin-left: .6rem
  .check li
    font-size: 1rem !important
  .modal-dialog-ms a
    font-size: .7rem !important
  footer button
    font-size: 1rem
  footer h2
    font-size: 1.2rem
/* Small Devices, Tablets */
@media only screen and (max-width: 768px)
  /**/
  #cheaper button, #email-section button, #sheff button, footer button
    font-size: 1.2rem
    margin-top: 1rem
  header
    ul
      padding-left: 0
      li
        margin: .3rem auto

    .wrap
      li
        margin: 0
      button
        font-size: 1rem !important
      margin-right: 0
  .modal-dialog-ms
    a
      font-size: 1rem
  #sheff, #cheaper
    button
      max-width: 263px
  #why
    ul
      height: auto
      li
        font-size: 1rem !important
        max-width: 455px
        margin: .3rem 0
  #sheff h2
    font-size: 1.5rem

  #best .img-wrap
    min-height: 182px
  #sheff .price
    font-size: 1rem
  #comfort
    .row:last-child
    [class*="col"]
      .wrap
        &:after
          display: none
  p
    font-size: 1.3rem !important
  input::-webkit-input-placeholder
    font-size: 1rem !important
    line-height: 1rem !important
  input::-moz-placeholder
  blockquote
    &:before, &:after
      font-size: 1.4rem !important
    &:after
      top: .2rem !important
    &:before
      margin-left: -2rem !important

  #cheaper
    .bigtext
      font-size: 1.7rem
  footer .check
    padding-left: 5rem
    li
      font-size: 1.2rem !important
      line-height: 1.5rem
  footer h2
    font-size: 1.2rem
    width: 100%
  footer .wrap-input
    padding: 0
  footer button
    width: 52%
    margin: 0 auto


/* Extra Small Devices, Phones */

@media only screen and (max-width: 560px)
  /**/
  #cheaper button + span, #email-section button + span, #sheff button + span, footer button + span
    font-size: 1.1rem
  h2, h3
    margin-bottom: 0
  header .container, header, .parallax-window
    min-height: 100vh
  header .logo
    max-width: 100px
    display: block
  input
    font-size: .9rem !important
  header input
    margin-right: 20px
    width: 30%
  #advantages h4, h4
    font-size: 1.1rem !important

  #forms-colors
    .grid
      grid-template-areas: "one one one one" "four four four two" "four four four two" "three three three three"
    .four
      padding-right: 2.2rem
      padding-top: 0rem
      .small-form
        width: 26%
        a
          margin-top: .3rem

    .three
      position: relative
      top: -1.4rem
      right: -1.6rem
    .two
      padding: 2rem 0
      .wrap, .item, .owl-theme, .owl-item, .owl-stage, .owl-stage-outer
        height: 100%
        min-height: 105px !important

  #email-section .wrap-input
    padding: .4rem 30%
  .modal-dialog-ms
    .wrap-over
      margin-top: 2%
      max-height: 40vh
      overflow: scroll
    .small-form
      a
        margin-top: .2rem
      width: 33%
    .item img
      max-height: 40vh

  #best
    ul
      padding-left: 0
    .owl-nav
      top: 4%
    .list
      padding-bottom: 1.6rem
      padding-top: .6rem
  #best .img-wrap
    min-height: 103px
  #cheaper
    .bigtext
      font-size: 2rem
      -webkit-text-stroke: .3px #7e7e7e
    .one
      bottom: 0
      top: 1rem
      right: 1rem
    .two
      top: 1rem

  #cheaper p
    max-width: 47%
    font-size: 1.2rem

  #sheff h2
    margin-bottom: 1rem
    font-size: 1.5rem

  #sheff ul
    list-style-position: inside
    padding-left: 0 !important
  #sheff .check li, footer .check li
    line-height: 1.5rem
    &:before
      margin-left: 0
      margin-right: 5px
  #sheff .price
    font-size: 1.2rem
    font-weight: bold
  #certificate
    h4
      font-size: 1rem !important
  footer .wrap-input
    padding: 0 10px
  footer .check
    padding-left: .5rem
    list-style-position: inside
    li
      font-size: .8rem !important
  footer button
    width: 90%
    max-width: 264px
  blockquote
    &:before
      margin-left: -1rem !important
/* Custom, iPhone Retina */
@media only screen and (max-width: 397px)
  header .wrap ul
    margin-right: -1px
  header .wrap button
    margin-top: .4rem
  .modal-dialog-ms a
    font-size: .65rem !important

@media only screen and (max-width: 320px)
  /**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px)
  /**/


/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px)
  /**/


/* Small Devices, Tablets */
@media only screen and (min-width: 768px)
  /**/


/* Medium Devices, Desktops */
@media only screen and (min-width: 992px)
  /**/


/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px)
  /**/

