@import "libs";
@import "fonts";
@import "vars";

html,
body {
  background: #fff;
  overflow-x: hidden;
}

body {
  color: #222;
  //font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.5;
  font-family: $default-font;
  overflow-x: hidden;
  opacity: 1;
}

h1,
h2,
h3,
h5 {
  font-weight: bold;

}

h1, h2, h3, h4, h5, h6 {
  span {
    opacity: 0;
    transform: scale(3);
  }

}
h1 {
  font-size: 2.25rem;
  line-height: 3.125rem;
  color: #fff;
  background: red;
}

h2 {
  text-align: center;
  font-size: 1.75rem;
  line-height: 2.375rem;
}

h3 {
  font-size: 1.625rem;
  line-height: 2.1875rem;
}

h4 {
  font-size: 1.5rem;
  line-height: 1.75rem;
  text-align: center;
}

h5 {
  font-size: 1.3rem;
  line-height: 1.625rem;
}

p {
  margin: 0;
  display: inline-block;
  font-size: 1.25rem;
}

button {
  font-size: 1.625rem;
  line-height: 2.1875rem;
  border: none;
  padding: 0.45em 1.45em;
}

input::-webkit-input-placeholder {
  color: #fff;
  font-size: 1.125rem;
  line-height: 1.625rem
}

input::-moz-placeholder {
}

input[type="text"], input[type="tel"] {
  color: #fff;
  font-size: 1.125rem;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid #fff;
}

.active {
  border: none;
  color: #828282 !important
}

div.owl-item.active {
  color: inherit !important;
}

a {
  font-size: 0.875rem;
  line-height: 1.1875rem;
  color: #222;
  padding-bottom: .2em;
  border-bottom: dashed 1px #222;
  &:hover {
    text-decoration: none;
    color: #0159CF !important;
    border-bottom-color: #0159CF;
  }
  &:active,
  &:focus, .active {
    border: none;
    color: #828282 !important
  }
  &:visited {
    color: #222;
  }
}

ol,
ul {
  padding-left: 1.2rem;
  margin: 0;
  list-style-type: none;
  font-size: 1.25rem;
}

blockquote {
  margin: 0
}

.button {
  display: inline-block
}

div {
  position: relative;
}

img {
  display: inline-block;
  height: auto;
  max-width: 100%;
}

.parallax-window {
  min-height: 100vh;
  position: absolute;
  max-width: 100%;
  min-width: 100%;
  background: transparent;
  &:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    background-color: rgba(0, 0, 0, .3);
  }
}

.container {
  min-width: 320px;
}

header {
  background-image: url('../img/backheadermin.png');
  background-size: cover;
  .wrap-top {
    padding-top: 30px;
  }
  min-height: 100vh;
  color: #fff;
  .wrap {
    float: right;
    text-align: right;
    margin-right: 30px;
    ul {
      font-size: .875rem;
      -moz-column-count: 2;
      /* Firefox */
      -webkit-column-count: 2;
      /* Safari and Chrome */
      column-count: 2;
      margin-right: 1.5rem;
    }
    button {
      color: #444;
      display: block;
      font-size: .875rem;
      line-height: 1.1875rem;
      float: left;
      height: 100%;
      background: #F0C081;
      padding: 7.34%;
      white-space: nowrap;
    }
  }
  h2 {
    text-align: left;
    line-height: 2.625rem;
  }
  h3 {
    line-height: 2.1875rem;
    margin-top: 25px;
    margin-bottom: 15px;
  }
  strong {
    font-size: 120%;
  }
  .plus {
    font-size: 1.25rem;
    line-height: 1.4375rem;
    font-weight: 400;
    margin-left: 5px;
    li:before {
      content: "+";
      margin-right: 5px;
    }
  }
  button {
    color: #fff;
    background: #208CD5;
    display: block;
  }
  button + span {
    font-size: 1rem;
  }
  input {
    margin-right: 40px;
  }
  .container {
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    flex: auto;
    .row:last-child {
      flex-grow: 1;
    }
  }
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
  background-color: rgba(0, 0, 0, .3);
}

section {
  margin-top: 10.85vh;
}

#advantages {
  .wrap {
    text-align: center;
  }
  h2 {
    margin-top: 5px;
  }
  h4 {
    font-size: 1.375rem;
  }
  .wrap h4 {
    font-size: 1.25rem;
  }

  [class*="col"] {
    margin-top: 35px;
  }
}

$li-size: 1.25rem;
#why {
  h2 {
    margin-bottom: 1.5625rem;
  }
  ul {
    height: 10rem;
    margin-left: 10%;
    font-size: $li-size;
    list-style-type: none;
    list-style-position: inside;
    li {
      font-size: 1rem;
      width: 100%;
      max-width: 455px;
      margin: .2rem 0;
      &:before {
        content: '\2022';
        /* Добавляем маркер в шестнадцатеричном формате*/
        padding-right: 5px;
        /* Расстояние от маркеров до текста */
        font-size: $li-size;
      }
    }
  }
  .pad {
    padding-right: 20%;
  }
}

$box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.25);
#forms-colors {
  h2 {
    margin-bottom: 35px;
  }
  .grid {
    display: grid;
    grid-template-areas: "one one one two" "one one one three" "one one one four";
    grid-template-columns: 1fr 1fr 1fr 25%
  }
  .grid__item {
    padding: 1em;
  }
  .one {
    padding-top: 0;
    padding-bottom: 0;
    grid-area: one
  }
  .two {
    padding-top: 0;
    padding-bottom: 0em;
    grid-area: two;
    .text-forms {
      position: absolute;
      bottom: -2rem;
      z-index: 2;
    }
  }

  .three {
    grid-area: three;
    padding-top: 0;
    padding-bottom: 0;
  }
  .four {
    grid-area: four;
    padding-bottom: 0;
    padding-top: 2rem;
    .text-forms {
      font-size: 1.125rem;
      font-weight: 600;
    }
  }
  .wrap {

    .owl-stage-outer,
    .owl-stage,
    .owl-theme,
    .item,
    .owl-item,
    .wrap {
      height: 100%;
      background-position: center center;
      background-size: cover;
      min-height: 145px;

    }
    .owl-carousel .owl-item .wrap img {
      width: initial; //  height: 70%;
    }
    height: 100%;
    display: flex;
    align-items: center;
    .text-info-color {
      position: absolute;
      text-align: center;
      width: 100%;
      font-size: 1.125rem;
      color: #fff;
    }
  }
  .wrap-over {
    .owl-stage-outer,
    .owl-stage,
    .owl-theme,
    .item,
    .owl-item,
    .wrap {
      height: 100%
    }
    width: 100%;

    .small-form:nth-child(3) {
      a {
        margin-bottom: 15px;
      }
    }
  }
}

#Shingle {
  padding-bottom: 2rem;
}

/* Styles for dialog window */

.modal-dialog-ms {
  padding-bottom: 2%;
  background: white;
  h2 {
    margin-top: 1em;
    margin-bottom: 1.2em;
  }
  .wrap-over {
    margin-left: 2%;
  }
  .small-form {
    width: 30%;
    padding: 0 2%;
  }
  a {
    margin-top: .2em;
    margin-bottom: .6em;
    font-size: 1.125rem;
    font-weight: 700;
    color: #222;
  }
  .mfp-close {
    color: #222;
    &:before {

      font-family: FontAwesome;
      content: "\f00d";
      font-size: 2.25rem;
      position: absolute;
      right: 10px;
    }
  }
  margin-top: .5rem;
  font-size: 0px;
  line-height: 0px;
  opacity: 1;
  .item img {
    margin: auto;
    width: auto;
  }
}

/**
 * Fade-zoom animation for first dialog
 */

/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
  opacity: 0;

  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);

  opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}

/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}

/**
 * Fade-move animation for second dialog
 */

/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog {
  opacity: 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;

  -webkit-transform: translateY(-20px) perspective(600px) rotateX(10deg);
  -moz-transform: translateY(-20px) perspective(600px) rotateX(10deg);
  -ms-transform: translateY(-20px) perspective(600px) rotateX(10deg);
  -o-transform: translateY(-20px) perspective(600px) rotateX(10deg);
  transform: translateY(-20px) perspective(600px) rotateX(10deg);
}

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  -webkit-transform: translateY(0) perspective(600px) rotateX(0);
  -moz-transform: translateY(0) perspective(600px) rotateX(0);
  -ms-transform: translateY(0) perspective(600px) rotateX(0);
  -o-transform: translateY(0) perspective(600px) rotateX(0);
  transform: translateY(0) perspective(600px) rotateX(0);
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
  opacity: 0;

  -webkit-transform: translateY(-10px) perspective(600px) rotateX(10deg);
  -moz-transform: translateY(-10px) perspective(600px) rotateX(10deg);
  -ms-transform: translateY(-10px) perspective(600px) rotateX(10deg);
  -o-transform: translateY(-10px) perspective(600px) rotateX(10deg);
  transform: translateY(-10px) perspective(600px) rotateX(10deg);
}

/* Dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
  opacity: 0;

  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
  opacity: 0;
}

/* padding-bottom and top for image */
.mfp-no-margins img.mfp-img {
  padding: 0;
}

/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
  top: 0;
  bottom: 0;
}

/* padding for main container */
.mfp-no-margins .mfp-container {
  padding: 0;
}

#best {
  h2 {
    margin-bottom: 25px;
  }

  .ul-head {
    font-size: 1.5rem;
  }

  .wrap {
    box-shadow: $box-shadow;
    width: 100%;
  }

  .wrap {
    background-color: #fff;
  }

  .list {
    margin-left: 4rem;
    padding-top: 1.875rem;
    padding-bottom: 4.5rem;
    .owl-nav {
      display: none;
    }
  }

  ul {
    list-style-type: disc;
    li {
      margin-left: 1.25rem;
      font-size: 1.25rem;
    }
  }

  .owl-carousel {
    height: 103%;
    .owl-stage,
    .owl-item,
    .item {
      height: 100%;
    }
    width: 100%;
    .wrap {
      height: 97%;
      width: 98%;
      margin-left: 1%;
    }
  }

  .owl-stage-outer {
    z-index: 1;
  }

  .z {
    z-index: 2;
  }

  .owl-nav {
    position: absolute;
    top: 12.25%;
    width: 200%;
    margin-left: -100%;
    right: .5%;
    z-index: 2;
    .owl-prev,
    .owl-next {
      background: transparent;
      .fa {
        box-shadow: $box-shadow;
        background-color: #fff;
        width: 300%;
        border-radius: 50%;
        font-size: 3rem;
        color: #8C8A8A;
      }
    }

    .owl-prev {
      float: left;
      margin-left: -1.2rem; //don touch!-
      .fa:before {
        position: relative; // left: -20%;
        right: 5%;
      }
    }
    .owl-next {
      float: right;
      margin-right: 1.2rem;
      .fa:before {
        position: relative;
        left: 5%;
      }
    }
  }
  .img-wrap {
    box-shadow: $box-shadow;
    min-height: 220px;
    background-position: center;
    background-size: cover;
  }
}

#video {
  h2 {
    margin-bottom: 1.2em;
  }

  .overlay {
    margin-top: -35px;
    width: 100%;
    height: 100%;
  }

  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

#email-section,
#cheaper,
#sheff,
footer {
  h5 {
    text-align: center;
    font-size: 1.375rem;
    margin-bottom: 1.85rem;
  }

  .wrap-input {
    padding: 0 8%;

  }

  input {
    width: 100%;
    color: #444;
    border-bottom-color: #666;
    font-size: 1rem;
  }

  input::-webkit-input-placeholder {
    color: #444;
    font-size: 1rem;
  }

  input::-moz-placeholder {
  }

  button {
    color: #fff;
    background-color: #208CD5; //box-shadow: $box-shadow;
    font-size: 1.5rem;
    padding-left: 4.1rem;
    padding-right: 4.1rem;
    width: 100%;
    display: block;
    // margin-top: 20px;
    // margin: .5rem 20%;
    margin-top: .5rem;
    transition: box-shadow ease 1s;
    &:active {
      background-color: #4FA2DB;
    }
    &:hover {
      box-shadow: $box-shadow;
    }
  }

  button + span {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: .9rem;
  }
}

#cheaper {
  p {
    text-align: center;
    font-size: 1.375rem;
    max-width: 55%;
    margin: auto;
    display: block;
  }

  input {
    color: #222;
    border-bottom-color: #222;
  }

  input::-webkit-input-placeholder {
    color: #222;
  }

  .wrap-img {
    margin: 2rem 0 0 0;
    width: 100%
  }

  .one,
  .two {
    position: absolute;
  }

  .one {
    right: 2rem;
    bottom: 3rem;
  }

  .two {
    left: 1rem;
    top: 3rem;
  }

  .bigtext {
    -webkit-text-stroke: 1px #7e7e7e;
    font-size: 3.625rem;
    color: #fff
  }
}

#email-section {
  margin-top: 3vh;
}

#sheff, #cheaper {
  button {
    margin-top: 1.5rem;
    margin-left: auto;
    width: 100%;
    max-width: 26.2rem;
    margin-right: auto;
  }
}

#sheff,
footer {
  .ul-head {
    font-size: 1.375rem;
  }

  img {
  }

  .spec {
    font-size: 1.125rem;
  }

  .offer {
    span {
      margin-right: .8rem;
      color: #222;
      font-size: 1.125rem;
    }
    font-size: 1.5rem;
    color: #EB5757;
  }

  ul {
    list-style-position: outside;
    padding-left: 4rem;
  }

  $mr-check: 4;
  .check {
    li {
      font-size: 1.375rem;
      &:before {
        font-family: 'FontAwesome';
        content: "\f05d";
        margin-left: -$mr-check*2+%;
        margin-right: $mr-check+%;
      }
    }
  }

  h3 {
    font-size: 1.375rem;
  }

  .price {
    font-size: 1.625rem;
    float: right;
    margin-top: 4%;
  }

  .btn-wrap {
    margin: 0 auto;
    width: 70%;
  }
}

#sheff .check {
  padding-left: 8%;
}

.spanLoop {
  transform: scale(1);
  opacity: 1;
  transition: all .2s ease;
}

$speedIvanAnim: 1s;
.hide {
  opacity: 0;
  position: absolute;
  z-index: 0 !important;


}

.unvisible {
  opacity: 0;
  transition: all $speedIvanAnim ease-out;
}

.moveDown {
  transform: translateY(400px);
  transition: all $speedIvanAnim/2 ease;
}
#review {
  #ivan1 {
    z-index: 2;
  }
  #ivan1, #ivan2, #ivan3 {
    margin-bottom: 2%;
  }
  #ivan2, #ivan3 {
    opacity: 0;
    top: 200px;
    transition: all .5s ease;
    background-color: #fff;
    z-index: 2;
    &.isVisible {
      top: 0;
      z-index: 2;
      position: relative;
      opacity: 1;
    }
  }
  $ml-quote: 3;
  blockquote {
    font-size: 1.125rem;
    padding-left: $ml-quote+rem;
    padding-right: 50px;
    display: inline-block;
    &:before {
      font-family: 'FontAwesome';
      content: "\f100";
      font-size: 4rem;
      line-height: 1rem;
      color: #444;
      float: left;
      position: relative;
      margin-left: -$ml-quote+rem;
    }
    &:after {
      font-family: 'FontAwesome';
      content: "\f101";
      font-size: 4rem;
      line-height: 0;
      color: #444;
      position: relative;
      top: 1rem; //left:-40px;
    }
  }

  a {
    margin-left: $ml-quote+rem;
  }
}

#certificates {
  margin-top: 2rem;
  img {
    margin: 0 auto;
    width: initial;
  }
}

#comfort {
  margin-bottom: 10vh;
  .row:last-child {
    [class*="col"]:last-child {
      .wrap {
        &:after {
          content: ''
        }
      }
    }
  }

  .wrap {
    margin-top: 2rem;
    img {
      width: 19.6078%;
      font-size: .6rem;
      margin: 0 auto;
      display: block;
    }
    &:after {
      font-family: 'FontAwesome';
      content: "\f178";
      font-size: 1.875rem;
      color: #fff;
      -webkit-text-stroke: 1px #222;
      position: absolute;
      top: 0;
      right: -15%;
    }
    p {
      margin: 0 auto;
      margin-top: 1.2rem;
      text-align: center;
      font-size: 1.25rem;
      width: 92%;
      display: block;
    }
  }
}

footer {
  padding-top: 5.23vh;
  padding-bottom: 5.23vh;
  background-color: #444;
  color: #fff;
  h2 {
    display: inline-block;
    text-align: left;
    color: #FFBF6B;
    margin-bottom: 1rem;
  }

  input {
    margin: 2vh 0;
  }

  .wrap-input {
    padding: 0 40% 0 0;
  }

  input::-webkit-input-placeholder {
    color: #fff
  }

  li:before {
    color: #FFBF6B;
  }
}

.owl-carousel {
  img {
    &:hover {
      cursor: pointer
    }
  }
}

@import 'media';